body{
    font-family: Arial, Helvetica, sans-serif;
}

#main-heading{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
}

#input-todo , #date-todo{
    font-size: 15px;
    padding: 10px 5px;
}

.btn-todo{
    color: white;
    background-color: rgb(9, 105, 9);
    padding: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-delete{
    background-color: rgb(156, 17, 17);
    border: none;
    border-radius: 6px;
    padding: 15px;
    color: white;
    cursor: pointer;
}
